@font-face{
    font-family: 'Dosis-Medium';
    font-style: normal;
    src:local('Dosis-Medium'),
    url('../fonts/Dosis-Medium.woff') format('woff'),
    url('../fonts/Dosis-Medium.ttf') format('truetype'),
    url('../fonts/Dosis-Medium.eot') format('eot')
}